{% load static %}
            <div class="left-column">
            <ul class="menu">
            	<li><a href="/home/">Accueil</a></li>
                <li><a href="/cours_math/">Cours de mathématiques en PT</a></li>
                <li><a href="/exo_math/">Exercices corrigés de mathématiques en PT</a></li>
                <li><a href="/colles/">Colles de maths en PT</a></li>
                <li><a href="/DS_math/">Devoirs surveillés de mathématiques en PT</a></li>
                <li><a href="/DM_math/">Devoirs maison de mathématiques en PT</a></li>
                <li><a href="/info/">Informatique PTSI</a></li>
                <li><a href="http://dumont.durville.free.fr/index.html" target="_blank">Site internet de la CPGE Dumont-Laplace</a>
                <!-- Ajoutez d'autres liens ici -->
            </ul>
            <img src="{% static 'images/dumont1.jpeg' %}" alt="Image description">
            </div>